---
import NextJS from "../icons/Skills/NextJS.astro";
import Tailwind from "../icons/Skills/Tailwind.astro";
import Html from "../icons/Skills/Html.astro";
import Javascript from "../icons/Skills/JavaScript.astro";
import ProjectItem from "./ProjectItem.astro";
import todoImage from "../assets/projectImages/todo-app.webp";
import ClickAndFixImage from "../assets/projectImages/clickandfix.webp";
import AstroIcon from "../icons/Skills/AstroIcon.astro";


const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159]/40 text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#e34f26]/40 text-white",
    icon: Html,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#f0db4f]/40 text-white",
    icon: Javascript,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#ff5f01]/40 text-white",
    icon: AstroIcon,
  },
};
const PROJECTS = [
  {
    title: "To Do App - An application to manage tasks",
    description:
      "A web application to manage daily tasks, allowing users to create, edit, and delete tasks.",
    link: "https://fast-tasklist.netlify.app/",
    github: "https://github.com/daolivaress/ToDo-List",
    image: todoImage,
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "Click&Fix - Landing Page",
    description:
      "Landing page for a new company seeking to offer various technology services",
    link: "https://clickandfix.vercel.app/",
    github: "https://github.com/daolivaress/da-tech-solutions",
    image: ClickAndFixImage,
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
];
---

<section id="projects">
  <div class="text-center mb-10">
    <h2 class="font-semibold text-[44px] max-md:leading-11 md:text-6xl">
      Some Of My <span class="text-blue-600">Jobs</span>
    </h2>
    <p class="mt-1.5 mb-4 text-[#95999d]">
      Each project has a different purpose and my job is to characterize it in a
      real scenario
    </p>
  </div>
  <div class="flex flex-col gap-8">
    {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <ProjectItem
        image={image}
        title={title}
        description={description}
        tags={tags}
        link={link}
        github={github}
      />
    ))
  }
  </div>
</section>
